.Navbar {
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #2f4f4f;
  min-height: 100px;
}

.navbtn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: #2f4f4f; /* Green */
}
.navbtn:hover {
  transition: 0.3s ease-in-out;
  background-color: #355757;
}

.btnbox {
  margin: 0;
  width: 40em;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.navbutton-text {
  font-size: calc(1vw + 6px);
  background-color: transparent;
  color: white;
  padding: 0 10px;
}

.branding {
  color: white;
  font-size: calc(2vw + 10px);
}
.branding-box {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
