.footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-color: #2f4f4f; /* Green */
}

.footerTxt {
  padding: 0 1em;
  gap: 0.2em;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #2f4f4f; /* Green */
  border-radius: 4px;
}

.leftfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
